In [1]:
import pandas as pd

In [2]:
current_year = 1880
file_name = f'names/yob{current_year}.txt'
df = pd.read_csv(file_name, names=['Name', 'Gender', 'Number'])
df['Year'] = current_year
current_year += 1
while current_year < 2019:
    file_name = f'names/yob{current_year}.txt'
    try:
        current_df = pd.read_csv(file_name, names=['Name', 'Gender', 'Number'])
        current_df['Year'] = current_year
        df = pd.concat([df, current_df])
    except:
        pass
    current_year += 1
df = df.reset_index()
del df['index']

In [136]:
def count_top3(years):
    df_res = pd.DataFrame()
    for year in years:
        df_res = pd.concat([df_res, df.loc[df['Year'] == year]])
    df_res = df_res.groupby(['Name']).sum().sort_values(by='Number', ascending=False).iloc[0:3].reset_index()
    return df_res

df_res = count_top3([1900, 1950, 2000])
df_res[['Name', 'Number']]

     Name  Number
0   James  111789
1    John  109601
2  Robert  101368

In [140]:
def count_dynamics(years):
    df_res = pd.DataFrame()
    for year in years:
        df_res = pd.concat([df_res, df.loc[df['Year'] == year]])
    df_res = df_res.groupby(['Gender', 'Year']).sum().unstack()
    return df_res

df_res = count_dynamics([1900, 1950, 2000])
df_res

        Number
Year      1900     1950     2000
Gender
F       299798  1713065  1815295
M       150480  1790437  1963202